@{ 
    Layout = null;
}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/btable")
@Styles.Render("~/Content/btablecss")

<!--上传图片工具-->
@Scripts.Render("~/bundles/fileinput")
@Styles.Render("~/Content/fileinputcss")


<!--summernote富文本编辑器-->
@Scripts.Render("~/bundles/summernote")
@Styles.Render("~/Content/summernotecss")

<style type="text/css">
    .new_content {
        margin-top: 20px;
    }

    .new_sc_header .col-3 {
        float: none;
        margin: 15px;
    }

    .new_sc_content {
        margin: 10px;
        width: 95%;
        height: auto;
    }

    .new_sch_t {
        width: 250px;
    }

    .new_sct_title {
        margin-left: 10px;
    }

    .new_sct_c {
        margin: 10px;
        margin-top: 0px;
        resize: none;
        width: 95%;
        border: 1px solid #eee;
        height: 100px;
    }

    .file-drop-zone {
        height: auto;
    }

    .new_sc_ctitle p {
        font-size: 15px;
        font-weight: 700;
        color: #666;
        margin-bottom: 5px;
    }

        .new_sc_ctitle p em {
            font-size: 13px;
            font-weight: 200;
            color: #808080;
        }

    .new_sc_bottom button {
        margin-right: 20px;
    }

    .new_sch_tag {
        width: 250px;
    }

    .new_jottings_header div .col-3 {
        float: none;
        margin: 15px;
    }
    .new_sch_t, .new_sch_tag{
        z-index:0;
    }
    .new_sch_t, .new_sch_tag, .new_jn_content, .new_jt_content {
        margin-bottom: 0px;
        margin-top: 10px;
    }

    .new_jn_name, .new_jt_tag {
        width: 250px;
        z-index:0;
    }

    .new_jottings_content, .new_jbottom_click {
        margin: 15px;
    }

        .new_jbottom_click .btn {
            margin-left: 20px;
        }
</style>
<div class="new_parent">
    <div class="new_title">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#new_scrawl" data-toggle="tab">新涂鸦<span class="badge spanbadge"></span></a>
            </li>
            <li role="presentation">
                <a href="#new_jottings" data-toggle="tab">新随笔<span class="badge spanbadge"></span></a>
            </li>
        </ul>
    </div>
    <div class="new_content">
        <div class="tab-content">
            <div class="tab-pane active" id="new_scrawl">
                <div class="new_scrawl_content">
                    <div class="new_sc_header">
                        <div class="col-3 input-effect new_sch_t">
                            <input class="effect-16 input-effect-text" type="text" placeholder="">
                            <label class="input-effect-text">涂鸦主题名称</label>
                            <span class="focus-border"></span>
                        </div>
                        <div class="col-3 input-effect new_sch_tag">
                            <input class="effect-16 input-effect-text" type="text" placeholder="">
                            <label class="input-effect-text">涂鸦标签(请用英文逗号隔开)</label>
                            <span class="focus-border"></span>
                        </div>
                        <div class="new_sc_txtcontent">
                            <div class="new_sct_title new_sc_ctitle"><p>说明</p></div>
                            <textarea maxlength="500" class="new_sct_c form-control" placeholder="填写你想要说的,最多只有500字哦~~"></textarea>
                        </div>

                    </div>
                    <div class="new_sc_content clearfix">
                        <div>
                            <div class="new_sc_ctitle"><p>上传图片<em>(最大上传数量为20张)</em></p></div>
                            <input id="imgUpload" type="file" multiple class="file" data-overwrite-initial="false" data-min-file-count="1">
                        </div>
                    </div>
                    <div class="new_sc_bottom">
                        <button class="btn btn-success pull-right">发布</button>
                        <button class="btn btn-default pull-right">取消</button>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="new_jottings">
                <div class="new_jottings_header">
                    <div class="new_jotting_name">
                        <div class="col-3 input-effect new_jn_name">
                            <input class="effect-16 input-effect-text" type="text" placeholder="">
                            <label class="input-effect-text">随笔名称</label>
                            <span class="focus-border"></span>
                        </div>
                    </div>
                    <div class="new_jotting_tag">
                        <div class="col-3 input-effect new_jt_tag">
                            <input class="effect-16 input-effect-text" type="text" placeholder="">
                            <label class="input-effect-text">随笔标签(请用英文逗号隔开)</label>
                            <span class="focus-border"></span>
                        </div>
                    </div>
                </div>
                <div class="new_jottings_content">
                    <div id="summernote"></div>
                </div>
                <div class="new_jottings_bottom">
                    <div class="new_jbottom_click">
                        <button class="btn btn-success pull-right">提交</button>
                        <button class="btn btn-default pull-right">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="new_bottom"></div>
</div>
<script type="text/javascript">
    $("#imgUpload").fileinput({
        uploadUrl: '#', // you must set a valid URL here else you will get an error
        allowedFileExtensions: ['jpg', 'png', 'gif'],
        overwriteInitial: false,
        maxFileSize: 10000,
        maxFilesNum: 20,
        language: 'zh',
        allowedFileTypes: ['image'],
        msgFilesTooMany: "aasasdasdasd",
        slugCallback: function (filename) {
            return filename.replace('(', '_').replace(']', '_');
        }
    });

    $(document).ready(function () {
        $('#summernote').summernote({
            lang: 'zh-CN',
            fontNames: ['宋体', '微软雅黑', '楷体', '黑体', '隶书', 'andale mono', 'arial', 'arial black', 'comic sans ms', 'impact']
        });
    });
</script>