<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/index")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/helper")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/lightbox")
    @Scripts.Render("~/bundles/waterfallFlowLayout")
    @Scripts.Render("~/bundles/philter")
    @Scripts.Render("~/bundles/service")
    @*@Scripts.Render("~/bundles/bootstrap-theme")*@
    <script type="text/template" id="Imageformat">
        @Html.Partial("PartialView/format_Image")
    </script>
    <script type="text/template" id="Jottingformat">
        @Html.Partial("PartialView/format_Jotting")
    </script>
    <script type="text/template" id="loggedOnUserTemplate">
        @Html.Partial("PartialView/format_loggedOnUser")
    </script>
    <script type="text/template" id="signInTemplate">
        @Html.Partial("PartialView/format_signIn")
    </script>
</head>
<body>
    <div class="all" id="all">
        <div class="col-md-12">
            <div class="supplement">
                <!--模态框-->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel"><i class="fa fa-user"></i> Sign In&Sign Up</h4>
                            </div>
                            <!--Content-->
                            <div class="modal-body login-modelbody">
                                <div class="login-content">
                                    <ul class="nav nav-tabs">
                                        <li class="active">
                                            <a href="#signIn" data-target="#signIn" data-toggle="tab">Sign In</a>
                                        </li>
                                        <li>
                                            <a href="#signUp" data-target="#signUp" data-toggle="tab">Sign Up</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content login-content-child">
                                        <div class="tab-pane active" id="signIn">
                                            <div class="pull-left" style="width:30%;">
                                                <i class="text-info">扫码登录</i>
                                                <img src="../Images/erweima.png" class="img-thumbnail" />
                                                <div style="margin-top:10px;">
                                                    <div class="pull-left text-center" style="width:50%"><a href="javascript:void(0);"><img style="width:40px;" class="img-circle" src="../Images/qq.jpg" title="QQ登录" /></a></div>
                                                    <div class="pull-left text-center" style="width:50%"><a href="javascript:void(0);"><img style="width:40px;" class="img-circle" src="../Images/weibo.jpg" title="微博登录" /></a></div>
                                                </div>
                                            </div>
                                            <div class="col-3 input-effect">
                                                <input class="effect-16 input-effect-text" type="email" placeholder="">
                                                <label class="input-effect-text">Email</label>
                                                <span class="focus-border"></span>
                                            </div>
                                            <div class="col-3 input-effect" style="margin-bottom:0px;margin-top:10px;">
                                                <input class="effect-16 input-effect-text" type="password" placeholder="">
                                                <label class="input-effect-text">Pass word</label>
                                                <span class="focus-border"></span>
                                            </div>
                                            <div class="col-3 input-effect" style="margin-top:0px;">
                                                <!--<input class="effect-16 input-effect-text" type="text" placeholder="">
                                                <label class="input-effect-text">Validate code</label>
                                                <span class="focus-border"></span>-->
                                                <div style="width:100%;height:75px;">
                                                    <span style="font-size:12px;color:#ccc;">请点击下面倒立的字</span>
                                                    <div style="width:100%;height:60px;">
                                                        <div class="yz-Content" id="yz-Content1">
                                                            <img id="img" height="60" src="../Images/CeShiYanZheng.gif" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="pull-right" style="width:60%;margin-right:17px;">
                                                <div><button class="btn btn-success" style="width:100%;">Sign In&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-chevron-right"></i></button></div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="signUp">
                                            <div class="pull-right" style="width:33%;">
                                                <img src="../Images/user-ceshi.jpg" class="img-circle img-thumbnail" />
                                            </div>
                                            <div class="col-3 input-effect pull-left">
                                                <input class="effect-16 input-effect-text" type="email" placeholder="">
                                                <label class="input-effect-text">Email</label>
                                                <span class="focus-border"></span>
                                            </div>
                                            <div class="col-3 input-effect pull-left" style="margin-bottom:0px;margin-top:10px;">
                                                <input class="effect-16 input-effect-text" type="text" placeholder="">
                                                <label class="input-effect-text">Nick name</label>
                                                <span class="focus-border"></span>
                                            </div>
                                            <div class="col-3 input-effect pull-left" style="margin-top:0px;">
                                                <!--<input class="effect-17 input-sm" type="text" placeholder="">
                                                <label class="input-effect-text">Validate code</label>
                                                <span class="focus-border" style="width:150px;"></span>
                                                <img class="img-rounded" style="margin-bottom:3px;margin-left:2px;" width="150" height="30" src="../Images/user-ceshi.jpg" />-->
                                                <div style="width:100%;height:75px;">
                                                    <span style="font-size:12px;color:#ccc;">请点击下面倒立的字</span>
                                                    <div style="width:100%;height:60px;">
                                                        <div class="yz-Content" id="yz-Content2">
                                                            <img id="img2" height="60" src="../Images/CeShiYanZheng.gif" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="pull-left" style="width:60%;">
                                                <button class="btn btn-success" style="width:100%;margin-left:13px;">Sign In&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-chevron-right"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <!--<button type="button" class="btn btn-primary">提交更改</button>-->
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </div>
                <!--背景动画-->
                <div class="anim_content">
                </div>
            </div>
            <div class="header">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href=".">
                                <i class="fa fa-home"></i> Home
                            </a>
                        </div>
                        <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="false" style="height: 1px;">
                            <ul class="nav navbar-nav">
                                <li>
                                    <a href="List.html">
                                        <i class="fa fa-picture-o"></i> Scrawl<span class="sr-only">(current)</span>
                                    </a>
                                </li>
                                <li><a href=""><i class="fa fa-pencil"></i> Jottings</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="fa fa-th-large"></span> Dropdown <span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a href="#" data-target="#myModal" data-toggle="modal"><span class="fa fa-user"></span> Sign in | Sign up</a>
                                        </li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">One more separated link</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="navbar-btn navbar-right" role="button" id="userBtn" data-target="#myModal" data-toggle="modal">
                                <a href="javascript:void(0);" id="userId" class="btn btn-default fa fa-user-circle popover-destroy" data-toggle="popover">
                                </a>
                            </div>
                            <!--<div class="navbar-btn navbar-right" role="button" id="userBtn" data-target="#myModal" data-toggle="modal">
                                <div>
                                    <img width="35" class="img-circle img-responsive popover-destroy" src="../Images/user-ceshi.jpg" id="userId" data-toggle="popover" />
                                </div>
                            </div>-->
                            <form class="navbar-form navbar-right" role="search">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search">
                                </div>
                                <button type="submit" class="btn btn-info"><span class="fa fa-search"></span> Submit</button>
                            </form>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="content">
                @RenderBody()
            </div>
            <div class="footer">
                <div class="panel">
                    <div class="panel-body text-center text">
                        <span style="font-size:12px;color:#666;">
                            个人网站演示 | 电话：66666666666 | QQ:6666666666<br />
                            什么号啊，什么那啥这啥地址啊啥的
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
