<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/index")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/helper")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/lightbox")
    @Scripts.Render("~/bundles/waterfallFlowLayout")
    @Scripts.Render("~/bundles/philter")
    @Scripts.Render("~/bundles/service")
    @Scripts.Render("~/bundles/apptop")

    @Styles.Render("~/Content/sweetalert")
    @Scripts.Render("~/bundles/sweetalert")

    @model PersonalWebService.Model.UserInfo_Model
    @*@Scripts.Render("~/bundles/bootstrap-theme")*@
    <script type="text/template" id="Imageformat">
        @Html.Partial("PartialView/format_Image")
    </script>
    <script type="text/template" id="Jottingformat">
        @Html.Partial("PartialView/format_Jotting")
    </script>
    <script type="text/template" id="signInTemplate">
        @{
            if (Model == null || string.IsNullOrEmpty(Model.UserId))
            {
                @Html.Partial("PartialView/format_signInToolTip")
            }
            else
            {
                @Html.Partial("PartialView/format_loggedOnUser", Model)
            }
        }
    </script>
</head>
<body>
    <div class="all" id="all">
        <div class="col-md-12">
            <div class="supplement">
                <!--模态框-->
                @{
                    if (Model == null || string.IsNullOrEmpty(Model.UserId))
                    {
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            @Html.Partial("PartialView/format_Sign")
                        </div>
                    }
                }
                <!--背景动画-->
                <div class="anim_content">
                </div>
            </div>
            <div class="header">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="@Url.Action("Index","Home")">
                                <i class="fa fa-home"></i> Home
                            </a>
                        </div>
                        <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="false" style="height: 1px;">
                            <ul class="nav navbar-nav">
                                <li>
                                    <a href="@Url.Action("List","Home",new { name="Scrawl"})">
                                        <i class="fa fa-picture-o"></i> Scrawl<span class="sr-only">(current)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("List","Home",new { name="Jottings"})">
                                        <i class="fa fa-pencil"></i> Jottings
                                    </a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="fa fa-th-large"></span> Dropdown <span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a href="@Url.Action("MyCenter","MyCenter")"><span class="fa fa-user-circle-o"></span> 用户中心</a>
                                        </li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">One more separated link</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="navbar-btn navbar-right" role="button" id="userBtn" data-target="#myModal" data-toggle="modal">
                                <a href="javascript:void(0);" id="userId" class="btn btn-default fa fa-user-circle popover-destroy" data-toggle="popover">
                                </a>
                            </div>
                            <!--<div class="navbar-btn navbar-right" role="button" id="userBtn" data-target="#myModal" data-toggle="modal">
                                <div>
                                    <img width="35" class="img-circle img-responsive popover-destroy" src="../Images/user-ceshi.jpg" id="userId" data-toggle="popover" />
                                </div>
                            </div>-->
                            <form class="navbar-form navbar-right" role="search">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search">
                                </div>
                                <button type="submit" class="btn btn-info"><span class="fa fa-search"></span> Submit</button>
                            </form>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="content">
                @RenderBody()
            </div>
            <div class="footer">
                <div class="panel">
                    <div class="panel-body text-center text">
                        <span style="font-size:12px;color:#666;">
                            个人网站演示 | 电话：66666666666 | QQ:6666666666<br />
                            什么号啊，什么那啥这啥地址啊啥的
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
